.sort_by {
  background-color: transparent;
}
.bio_text, .bio_name {
  text-align: left;
}
.pagniation ul {
  list-style: none;
  display: flex;
  background-color: white;
  padding: 8px;
  justify-content: space-around;
}
.pagniation ul li {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  border: 1px solid #909090;
  border-radius: 8px;

  cursor: pointer;
}
.image-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.profile-img-section {
  position: relative;
}
.profile-image {
  width: 268px;
  height: 268px;
  overflow: hidden;
  border-radius: 24px;
}
.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.proflie-addresss {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  font-feature-settings: "salt" on;
  color: #202020;
}
.pagniation ul li.numb {
  padding: 10px 50px;
  text-align: center;
}
.pagniation ul li.btns {
  border: none;
}

.pagniation ul li.btns .chev-btn {
  background: #b0b0b0;
  padding: 7px;
  width: 40px;
  text-align: center;
  height: 40px;
  border-radius: 50% !important;
  color: #ffff;
}
.pagniation ul li.btns .chev-btn:hover {
  background: #000000;
}

.pagniation ul li.numb.active,
.pagniation ul li.numb:hover,
.pagniation ul li.btns span:hover {
  background-color: #ffcb05 !important;
  color: #ffff;
  border: none;
}
.bio-row {
  display: flex;
  justify-content: space-between;
}
.bio_division_header {
  align-items: center;
  gap: 120px;
}
.bio-head_name .name h2 {
  font-size: 3rem;
}
.profile-flex-item {
  flex-basis: 46%;
}
.department_header {
  text-align: center;
  padding-bottom: 50px;
}
.departmental_status p {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #202020;
}
.departmental_photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}
.departmental_division_info{
  text-decoration: none;
  color: inherit;
}
.departmental_division_info:hover{
  color: inherit;

}
.department-image {
  border-radius: 24px;
  width: 260px;
  height: 260px;
  object-fit: cover;
  transition: border 0.2s;
}

.department-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.departmental_link  {
  text-decoration: none;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 11px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 912px) {
  .pagniation ul {
    gap: 10px;
  }
  .departmental_photos{
    justify-content: center;
    gap: 38px;
  }
  .department-image{
    width: 280px;
    height: 280px;
  }
}
@media (max-width: 768px) {
  .image-text {
    flex-direction: column;
  }
  .profile-text {
    text-align: center;
}
}
@media (max-width: 360px) {
  .pagniation ul li.numb {
    padding: 10px 20px;
  }
}
