:root {
  --background: linear-gradient(
    180deg,
    #363636 0%,
    rgba(93, 93, 93, 0.604167) 59.37%,
    rgba(151, 151, 151, 0) 100%
  );
  --nav-backgroundcolor: #ffcb05;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
html {
  font-size: 62.5%;
}

.hero-body-row {
  display: flex;
  align-items: center;
}
.mini-head-text p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 24px;
  font-feature-settings: "salt" on;
  color: #ffffff;
}
.max-head-text h1 {
  font-family: "MTN Brighter Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 64px;
  font-feature-settings: "salt" on;
  color: #ffffff;
}
.hero_caruosel,
.image_carousel {
  position: relative;
}
.glass_bottom {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  background: linear-gradient(180deg, #fcd818 0%, #f8c000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  position: absolute;
  bottom: 10px;
  left: 15%;
  z-index: 10;
}
.glass-card-link {
  padding-left: 0;
  text-align: left;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  flex-wrap: wrap;
}
.card {
  flex: 1 0 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 576px;
  padding: 50px 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1605) !important;
  border: 2px solid rgba(255, 255, 255, 0.0783) !important;
  backdrop-filter: blur(21.7463px);
  border-radius: 24px !important;
  /* background-color: red; */
}
.card_text-header {
  text-align: left;
  padding-bottom: 1em;
  display: flex;
  color: #fff;
  gap: 8px;
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 20px;
}
.card_text-header img {
  width: 25px !important;
  height: 25px;
  /* object-fit: contain; */
}
.card .item .image img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}
.card_body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1.3em;
  padding: 10px;
}
.glass_image {
  width: 71.86px;
  height: 73px;
}
.card .cards_header {
  margin: 20px 0;
}
.card .cards_header h2 {
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.card .card_text p {
  font-size: 14px;
  font-weight: 400;
}

.search_again_btn a,
.search_again_btn a:hover {
  padding: 17px 50px;
}
.owl-theme .owl-dots {
  text-align: left !important;
  z-index: 10;
  bottom: 10px;
  position: absolute;
  left: 30px;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #ffcb05 !important;
}
.carousel-container {
  width: 50%;
}

.back-img {
  background: url(/img/Frame\ 39787.png);
}
.card-title {
  position: absolute;
  top: -30px;
  right: 30px;
  font-size: 8rem;
  color: rgba(225, 225, 225, 0.05);
  pointer-events: none;
}
/* Quick Action Container */
.section_quick_action {
  padding-top: 50px;
}
.quick_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
}

.quick_header h3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  font-feature-settings: "salt" on;
}
.quick_body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
  gap: 2rem;
  position: relative;
  width: 100%;
  padding-top: 1rem;
}
.quck-image img {
  width: 64px;
  height: 64px;
}
.quick_card {
  width: 200px;
  height: 200px;
  padding: 54px 20px;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16); */
  border-radius: 50%;
  text-decoration: none;
  overflow: hidden;
  transition: transform 200ms ease-in-out;
}
.quick_card:hover {
  /* transform: translateY(-1rem); */
  /* box-shadow: 0px 4px 8px rgb(248, 192, 0); */
  background-color: var(--nav-backgroundcolor);
}

.quick-action-text {
  letter-spacing: -0.18px;
  font-feature-settings: "salt" on;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 18px;
  margin-top: 12px;
  color: #202020;
}

/* Add task section */
.owllbody {
  position: absolute;
  z-index: 10;
  top: 140px;
  left: 5px;
  color: white;
  width: 100%;
  height: 50%;
  padding: 2rem;
}
.add_task-holder {
  padding: 0px 0px 0px 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.meta-row {
  gap: 2rem;
}
.month-staff,
.birthday {
  /* background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15)
  ) !important; */
  padding: 0 0px !important;
}
.card2 {
  position: relative;
}
.images {
  width: 100%;
  height: 300px;
  border-radius: 24px;
  overflow: hidden;
  z-index: -1;
}
.images:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 90%));
  border-radius: 24px;
}
.images img {
  width: auto;
  height: 400px;
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  object-position: center;
}
.holder {
  position: relative;
}
.leaderlinks {
  width: 130px;
  margin-left: 300px;
}
.owls-title,
.owls-reward,
.owls-name {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 125%;
  text-transform: uppercase;
  font-feature-settings: "salt" on;
  color: #ffffff;
}
.owls-reward {
  font-size: 2.4rem;
}
.owls-name {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
/* Add Task Section */
.add_task-section {
  padding: 20px;
}
.addtask_card {
  padding: 30px;
  background: url(.png),
    linear-gradient(180deg, rgba(115, 115, 115, 0.4) 0%, rgba(0, 0, 0, 0.8) 50%),
    #232323;
  background-blend-mode: multiply, normal, normal;
  border: 2px solid #383838;
  border-radius: 24px;
}
.add_task-holder
/* LATEST NEWS */
/* ._tabs button.active{
  display: block;
} */
.latest-news-section {
  padding: 5rem;
}
.latest_news_holder {
  padding: 0px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.news_header h1 {
  font-family: "MTN Brighter Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 61px;
  font-feature-settings: "salt" on;
  color: #202020;
  mix-blend-mode: normal;
  flex: none;
}
._tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
._tabs ._tab-links {
  padding: 12px 40px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  transition: all 0.5s ease-in-out;
  border: 1px solid #909090;
  border-radius: 8px;
  background-color: #ffffff;
}

._tab-links.active {
  background-color: #ffcb05 !important;
  border: 1px solid #ffcb05;
}

.news {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  padding: 2rem;
  gap: 15px;
}
.news_box {
  display: flex;
  gap: 10px;
}
.news_image {
  max-width: 200px;
  border-radius: 8px;
  height: 100%;
}
.news_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.info_header {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 125%;
  text-transform: uppercase;
  font-feature-settings: "salt" on;
}
.info_body {
  height: auto;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.veiwbtn {
  transition: all 0.5s ease-in-out;
}
.veiwbtn:hover {
  transform: scale(0.98);
}
.view-btn {
  background-color: #202020;
  text-decoration: none;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 18px 40px;
  border-radius: 24px;
  transition: all 0.5s ease-in-out;
  outline: none;
}

.view-btn:hover {
  color: white;
  box-shadow: inset 200px 0 0 0 #fcd818;
}
.accordion-section {
  padding: 50px;
  background: #f8f8f8;
}
.accordion-row {
  display: flex !important;
  justify-content: space-around;
}
.yellow-card {
  background: linear-gradient(180deg, #fcd818 0%, #f8c000 100%);
  border-radius: 24px;
  padding: 90px 5px;
  padding-bottom: 50px;
}

/* .twitter-col {
  position: relative;
}
.twitter-icon {
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 30px;
}
.twitter-icon-text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #202020;
} */
.quick-links-section {
  background: #f8f8f8;
}
.content {
  padding: 30px 30px;
  border-radius: 25px;
  background-color: #fff;
  border-bottom: 5px solid #fcd818;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}
/* Twitter Yellow Box */
.twitter-col {
  position: relative;
}
.twitter-img img {
  border-radius: 50% !important;
  object-fit: cover !important;
  width: 70px !important;
  height: 70px !important;
  overflow: hidden;
}
.twitter-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.twitter-address .follow {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #202020;
}
.twitter-address .twitter-location {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px !important;
  line-height: 140%;
  letter-spacing: -0.18px;
  font-feature-settings: "salt" on;
  color: #909090 !important;
}
.twitter-body p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "salt" on;
  color: #606060;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.twitter-footer a {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "salt" on;
  color: #202020;
  text-decoration: none;
}
.twitter-footer a:hover {
  color: #202020;
}
/* Accordian  */
.accordion-col {
  padding: 40px;
  border-radius: 8px;
  background: #ffff;
  width: 100%;
  height: 100%;
}
.accordian-mini-header {
  margin-bottom: 25px;
}
.accordian-mini-header p {
  font-size: 1.4rem;
  font-weight: 400;
}
.accordian-header {
  margin-bottom: 20px;
}
.accordian-header h2 {
  font-family: "MTN Brighter Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 2.8rem;
  font-feature-settings: "salt" on;
  color: #202020;
}
.accordion-button {
  padding: 2.2rem 1.25rem !important;
  outline: none !important;
}
.accordion-button:not(.collapsed) {
  color: #202020 !important;
  background-color: #ffcb05 !important;
  box-shadow: inset 0 -1px 0 rgb(248, 192, 0) !important;
}
.accordion-button::after {
  background-image: url(/image/chevron.png) !important;
}
/* departmental-selection */
.departmental-selection {
  position: absolute;
  z-index: 100;
  top: 150px;
  display: flex;
  justify-content: center;

  width: 100%;
  display: none;
}

.departmental-selction-row {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  width: 1295px;
}
.navigation-container {
  padding-top: 20px;
}
.navigation-container,
.navigation-department-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.navs-tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  font-family: var(--font2);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #202020;
  padding: 16px 0px 12px 14px;
  /* padding: 12px 4px; */
  background: #ffff;
  cursor: pointer;
}
.flex_item {
  flex-basis: 85%;
}
.navs-tabs:hover {
  background: #ffcb05;
}
.navs-tabs img {
  width: 14px;
  height: 14px;
  display: none;
}
.navs-tabs.activate {
  background: #ffcb05;
}
.navs-tabs.activate img {
  display: block;
}
.navigation-department-container {
  background: #f8f8f8;
  padding: 30px;
  display: none;
}
.navigation-department-container.showThis {
  display: block;
}

.department-tabs {
  border-radius: 8px;
  width: 300px;
  display: flex;
  justify-content: flex-start;
  gap: 100px;
  align-items: center;
  padding: 20px;

  font-family: var(--font2);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  color: #000000;
}
.department-tabs:hover {
  background: #e8e8e8;
}
.department-tabs.activates {
  background: #e8e8e8;
}
.department-tabs img {
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.departmental-leader-profile-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}
.departmental-leader-profile {
  display: none;
}
.departmental-leader-profile.uploaded {
  display: flex;
}
.leader-iamge {
  width: 268px !important;
  height: 268px;
  border-radius: 24px;
}
.leader-iamge img {
  width: 100%;
  border-radius: 24px;
}
.leader-name {
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  font-feature-settings: "salt" on;
  color: #202020;
}

.division-status {
  font-family: var(--font2);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* New app */
.application-yellow {
  background: #ffffff;
  border: 2px solid #ffcb05;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.16);
  border-radius: 24px;
  box-sizing: border-box;
  height: 489px;
  padding: 20px;
  position: relative;
}

.application-yellow-header-app {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin: 10px;
}
.application-yellow-header-name-app {
  font-family: var(--font2);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-feature-settings: "salt" on;
  color: #202020;
}
.application-yellow-body-gray-container {
  background: #f8f8f8;
  border-radius: 20px;
  padding: 36px 18px;
  gap: 13px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.main-app-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 15px;
  padding: 15px 10px;
  width: 90px;
  position: relative;
  cursor: pointer;
}
.share-via {
  width:auto;
  padding: 2px 10px;
  top: 50px;
  left: 40px;
  text-align: center;
}
.main-app-holder:hover .share-via {
  display: block;
  opacity: 1;
}

.application-yellow-body .carousel-indicators {
  width: 50px;
  z-index: 100;
}



.application-yellow-footer-link {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: #404040;
  display: flex;
  justify-content: flex-end;
  margin-top: 34px;
  gap: 10px;
}
.application-yellow-footer-link:hover{
  color: #404040;

}
.add-task-link{
  margin-top: -3px;
  color: #FCD818;
}
.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  background-color: #ffcb05 !important;
  border-radius: 50%;
}
.application-name {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: #404040;
  padding-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 113%;
  text-overflow: ellipsis;
  opacity: 0;
  transition: all 0.5s linear;
  text-align: center;
}

.main-app-holder:hover .application-name {
  opacity: 1;
}
.application-yellow-header {
  display: flex;
  justify-content: space-between;
}
.application-yellow-header-name {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  font-feature-settings: "salt" on;
  color: #ffff;
}
.application-task-row {
  padding: 20px;
}



.application-yellow-header-name-add a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.add-task-text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: #ffcb05;
  text-transform: capitalize;
  font-feature-settings: "salt" on;
}
.task-container {
  background: linear-gradient(
      180deg,
      rgba(115, 115, 115, 0.4) 0%,
      rgba(0, 0, 0, 0.8) 50%
    ),
    #232323;
  background-blend-mode: multiply, normal, normal;
  border: 2px solid #383838;
  border-radius: 24px;
  height: 489px;
  overflow: hidden;
 
  


}
.task-date{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.add-task-body {
  height: 360px;
  padding: 20px;
  padding-top: 0;
  overflow-y: auto;
  padding-bottom: 30px;
}
.add-task-body::-webkit-scrollbar{
  display: none;
}
.add-task-body{
  overflow-y: auto;

}

.add-task-body-inner-header{
  font-family: 'MTN Brighter Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  /* identical to box height, or 32px */
  
  font-feature-settings: 'salt' on;
  
  /* Grey-Scale/Pearl */
  
  color: #FFFFFF;
}
.task-list{
  list-style: none;
position: relative;


}
.task-list:hover .add-task-circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border:2px solid #FFCB05;
}
.task-list:hover .added-task-title{
  text-decoration-line: underline;

}


.add-task-circle{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #B0B0B0;
  position: absolute;
  transition: all .2s linear;
  left: -20px;
}

.added-task-title{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
font-feature-settings: 'salt' on;
color: #FFFFFF;
}
/* Styling Caruosel */
.add-task-indicator{
  width: 20%;
  bottom: 16px !important;

}

@media (max-width: 800px) {
  .nav_links .header_link {
    font-size: 1rem;
    padding: 10px;
  }
  .max-head-text h1 {
    font-weight: 700;
    font-size: 4.3rem;
  }
  .card .item .image img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
  }
}
@media (max-width: 991px) {
  .profile_icon {
    margin-left: 0px;
  }
  .max-head-text h1 {
    font-weight: 700;
    font-size: 4.3rem;
  }
  .hero-body {
    margin-bottom: 80px;
  }
}
@media (max-width: 930px) {
  .departmental-selction-row {
    flex-direction: column;
    width: 100%;
  }
  .profile-icons {
    margin-left: 0 !important;
  }
  .notification {
    right: 0;
    left: 10px;
  }
  
  .application-yellow{
    padding: 10px;
  }
  
.application-yellow-footer-link{
  font-size: 12px;
  margin-top: 8px;
  
}
  
  .application-yellow-body-gray-container{
    height: 400px;
    overflow: auto;
  }
  .task-container{
    margin-top: 20px;
  }
}

@media (max-width: 430px) {
  .nav_links {
    display: none;
  }
  .nav_bar-container {
    padding: 0px;
    gap: 51px;
    margin: 0px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    background: var(--nav-backgroundcolor);
  }
  .hero-body {
    padding: 0;
  }
  .hero_caruosel {
    display: none;
  }
  .max-head-text h1 {
    font-weight: 700;
    font-size: 3.3rem;
    line-height: normal;
  }
}
