:root {
  --nav-background: #f3f3f3;
  --yellow: #ffcb05;
  --header-text-color: #202020;
  --white: #ffff;
  --font: "MTN Brighter Sans";
  --font2: "Work Sans", sans-serif;
  --text-color: #202020;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

.paddingtop {
  padding-top: 100px !important;
}
.division_header {
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}
.divsion-contact {
  display: flex;
  gap: 20px;
  font-family: "MTN Brighter Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  font-feature-settings: "salt" on;
  color: #202020;
}
.header_division_image {
  width: 268px;
  height: 268px;
  overflow: hidden;
}
.header_division_image img {
  border-radius: 24px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cancel {
  display: none;
}

.name h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 4rem;
  line-height: 100%;
  font-family: var(--font);
}

.divsion-status {
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 125%;
}

.divsion-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.divsion-btn a,
.divsion-btn a:hover {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 24px;
  border: 1px solid #909090;
  border-radius: 8px;
  padding: 10px 30px;
  color: var(--text-color);
}

.division-social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 70px;
}

.linked-social a,
.linked-social a:hover,
.dowload-image a,
.dowload-image a:hover {
  color: var(--text-color);
  text-decoration: none;
}

.linked-social a .fa-brands,
.dowload-image a .fa-image {
  font-size: 20px;
}

.download-img {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-feature-settings: "salt" on;
  color: #606060;
}

/* Bio Information */
.bio_container,
.department_container {
  padding-top: 60px;
  /* padding-bottom: 150px; */
}

.bio_name h3,
.deparmental_name h5,
.bio_text p {
  font-family: var(--font2);
  font-style: normal;
  font-weight: 700;
  font-size: 2.6rem;
}

.bio_text p {
  font-size: 1.6rem;
  font-weight: 400;
}

.department_header {
  text-align: center;
  padding-bottom: 50px;
}

.department_header h1 {
  font-family: var(--font);
  font-style: normal;
  font-weight: 800;
  font-size: 4rem;
  line-height: 100%;
}

.departmental_photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 12px;
}

.departmental_division_image img {
  border-radius: 24px;
  width: 260px;
  height: 260px;
  object-fit: contain;
  transition: border 0.2s;
}

.departmental_division_image img:hover {
  border: 5px solid var(--yellow);
}

.deparmental_name h5 {
  font-size: 2rem;
}

.departmental_status p {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 18px;
  color: var(--text-color);
}

.departmental_link a {
  text-decoration: none;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 11px;
  color: var(--text-color);
}

.department_footer {
  margin-top: 30px;
  text-align: center;
}

.search_again_btn a,
.search_again_btn a:hover {
  font-family: var(--font2);
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  font-feature-settings: "salt" on;
  color: #ffffff;
  background: #202020;
  border-radius: 24px;
  padding: 17px 80px;
  text-decoration: none;
}

.details_section {
  padding-top: 50px;
}

.details_container {
  max-width: 422px;
  width: 100%;
}

.details_head {
  padding-left: 24px;
  padding-top: 20px;
}

.details_head h4,
.detail_table_th {
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  font-feature-settings: "salt" on;
  color: #202020;
}

.table_body {
  padding: 0px 24px;
  background: #f5f5f5;
}

.table > :not(caption) > * > * {
  padding: 0.8rem 0.5rem !important;
}

.detail_table_th {
  font-size: 1.6rem;
}

.detail_table_td {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 24px;
  font-feature-settings: "salt" on;
  color: #404040;
}

@media (max-width: 750px) {
  .departmental_photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 16px;
  }
  .divsion-contact {
    justify-content: center;
  }
}

@media (max-width: 570px) {
  .division_header {
    justify-content: center;
  }

  .header_division_image img {
    width: 220px;
    height: 220px;
  }

  .name h2 {
    font-size: 3rem;
  }

  .head_name {
    text-align: center;
  }

  .divsion-btn {
    justify-content: center;
  }

  .division-social {
    justify-content: center;
  }

  .bio_name {
    text-align: center;
  }

  .bio_text {
    text-align: center;
  }

  .department_header h1 {
    font-size: 3rem;
  }

  .departmental_division_image img {
    border-radius: 24px;
    width: 180px;
    height: 180px;
    object-fit: contain;
  }

  .departmental_photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-gap: 12px;
  }

  .footer {
    padding: 20px 12px;
  }

  .footer_list ul li a {
    font-size: 1rem;
  }
}
