.new-section {
    padding-top: 40px;
}

.news-header h1 {
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 64px;
    font-feature-settings: 'salt' on;
    color: #202020;

}
.grid-whole-container{
    display: flex;
    justify-content: flex-start;
}

.grid-news-row {
    display: flex;
    /* justify-items: center; */
    /* align-items: center; */
    flex-direction: column;

}

.news-image {
    max-width: 460px;
    width: 100%;
    background-color: red;
    border-radius: 24px;
}

.news-image img {
    border-radius: 24px;

}

.news-text {
    background: #FFFFFF;
    box-shadow: 0px 5px 0px #FFCB05, 0px 12px 12px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    max-width: 431px;
    width: 100%;
    padding: 30px;
    margin-top: -50px;
    transition: .5s;
}
.news-text:hover{
    margin-top: -60px;

}


 .new-text-header .news-date {
    font-family: var(--font2);
    font-style: normal;
    font-weight: 300;


}

.new-text-body .big-new-text {
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    /* or 30px */

    font-feature-settings: 'salt' on;

    /* Grey-Scale/Raven */

    color: #202020;
}

.new-text-body .paragraph {
    font-family: var(--font2);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'salt' on;
    color: #606060;
}

