.oranization-header {
  padding-top: 20px;
}
.oranization-header h1 {
  font-family: var(--font);
  font-style: normal;
  font-weight: 800;
  font-size: 6rem;
  color: #202020;
}
.overall-head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}
.overall-head-img {
  width: 133px;
  height: 133px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 24px;
}
.overall-head-img img {
  width: 100%;
  height: 100%;
  border-radius: 24px;
}
.overall-head-name {
  font-family: var(--font);
  font-style: normal;
  font-feature-settings: "salt" on;
  color: #202020;
  font-weight: 700;
  font-size: 2.4rem;
}
.position {
  font-family: var(--font2);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-feature-settings: "salt" on;
  color: #202020;
}

.executive-header h3 {
  font-family: "MTN Brighter Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 4rem;
  line-height: 100%;
  text-align: center;
  font-feature-settings: "salt" on;
  color: #202020;
}

.owl-carousel .owl-dots,
.tabCarousel .owl-nav {
  display: flex !important;
}
.owl-theme .owl-dots {
  text-align: center !important;
  z-index: 10;
  bottom: 10px;
  position: absolute;
  left: 50%;
  right: 50%;
}

.tabCarousel .owl-nav button.owl-next {
  position: absolute !important;
  right: -48px;
  top: 0px;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
}
.tabCarousel .owl-nav button.owl-prev {
  /* font-size: 20px; */
  position: absolute !important;
  left: -60px;
  top: 0px;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;

}
.tabCarousel.owl-theme .owl-nav [class*=owl-]{
  background: #B0B0B0 !important;

}
.tabCarousel .owl-nav button.owl-next:hover,
.tabCarousel .owl-nav button.owl-prev:hover {
  background: #000000 !important;
}
.tabCarousel .owl-nav button.owl-next span,
.tabCarousel .owl-nav button.owl-prev span {
  font-size: 40px !important;
  position: absolute;
  top: -15px;
  left: 14px;
}
.unit-member{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

@media (max-width: 760px) {
  .owl-theme .owl-dots {
    transform: translate(-100px, 0px);
  }
  .overall-head-img {
    width: 180px;
    height: 180px;
  }
  .oranization-header h1 {
    font-size: 4rem;
  }
  .executive-header h3 {
    font-size: 3rem;
  }
  .tabCarousel .owl-nav{
    display: none !important;
  }
  .unit-member{
    justify-content: center;
  }
}
@media (max-width: 750px) {
  .overall-head-img {
    width: 160px;
    height: 160px;
  }

}
