.our_people_header{
    text-align: start;
}
.search-container {
    display: flex;
    padding: 18px;
   
    gap: 50px;
    align-items: center;
    justify-content: flex-start;
}
.search_form {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border: 2px solid #B0B0B0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    border: 2px solid #B0B0B0 !important;
}

.search_input {
    padding: 20px 17px;
}
.dropdown{
    min-width: 219px !important;
    
}