.image-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.profile-flex-item {
  flex-basis: 26%;
}
.profile-img-section {
  position: relative;
}
.edit-pencil{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #FFCB05;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
left: 250px;
top: 12px;
cursor: pointer;
}
.profile-image {
  width: 268px;
  height: 268px;
  overflow: hidden;
}
.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.proflie-addresss {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  font-feature-settings: "salt" on;
  color: #202020;
}
.update-link {
  background: #202020;
  border-radius: 24px;
  text-decoration: none;
  color: #ffffff;
  font-family: var(--font2);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  font-feature-settings: "salt";
  padding: 15px 60px;
}
.update-link:hover {
  color: #ffffff;
}
.edit-bio {
  padding: 15px 30px;
}
.interest-section {
  margin-top: 60px;
}
.interest-header h3,
.education-header h2 {
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  font-feature-settings: "salt" on;
  color: #404040;
}
.added-interset {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #202020;
  padding: 12px 40px;
  border: 1px solid #909090;
  border-radius: 8px;

}
.interest {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.add-interest {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.add-image {
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.add-image img {
  width: 100%;
  height: 100%;
}
.add-interest-text {
  font-family: var(--font2);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #202020;
}

.university-name h4 {
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}
.university-course,
.university-time {
  font-family: var(--font2);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.del-link {
  text-decoration: none;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  font-feature-settings: "salt";
  border: 2px solid #202020;
  border-radius: 24px;
  padding: 15px 20px;
  color: #202020;
}
.del-link:hover {
  color: #202020;
}
.university-edit {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.horizontal-line {
  width: 100%;
  height: 2px;
  background: #1e1e1e;
}

@media (max-width: 768px) {
  .image-text {
    flex-direction: column;
  }
  .profile-text,
  .update-profile {
    text-align: center;
  }
  .edit-pencil{
    left: 290px;
  }
}
