
/* Search Result */


.search_big_text h1 {
  font-family: var(--font);
  font-style: normal;
  font-weight: 800;
  font-size: 3.9rem;
  line-height: 100%;
  font-feature-settings: "salt" on;
  color: #202020;
}

.btn_img {
  border: none;
  background: transparent;
}

.search_container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  padding: 10px 0px;
  align-items: center;
  transition: all 0.2s linear;
  margin-top: 30px;
}

.search_form {

  width: 100%;
  border-radius: 8px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  z-index: 1;
  transition: all 0.2s linear;

  background: #ffffff;
  border: 2px solid #ffc000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.search_input {
  background-color: transparent;
  border: 0;
  outline: none;
  flex: 1;
  padding: 32px 16px;
  font-size: 1.9rem;
  font-family: var(--font);
}

.border {
  width: 3px;
  height: 40px;
  margin-right: 9px;

  background: #C4C4C4;
}



.image-search {
  width: 26px;
  height: 26px;
}

.btn-img {
  border-radius: 50%;
  height: 34px;
  width: 34px;
  background: #f0bd2d;
  border: 0;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_name {
  margin-top: 10px;
  max-width: 900px;
  width: 100%;
  padding: 20px;
  border-bottom: 2px solid #e8e8e8;
}

.input_name h3 {
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 100%;
  font-feature-settings: "salt" on;
  color: #202020;
}




@media (max-width:760px) {
  .search_big_text h1{
    font-size: 2.9rem;
  }
  .search_container {
    width: 100%;
  }
  .search_input{
    font-size: 1.2rem;
    padding: 20px ;
  }

}